site_name: Diet Pandas Documentation
site_description: Automated memory optimization for Pandas DataFrames
site_author: Luiz Fernando
site_url: https://luiz826.github.io/diet-pandas/

repo_name: luiz826/diet-pandas
repo_url: https://github.com/luiz826/diet-pandas
edit_uri: edit/master/docs/

theme:
  name: material
  palette:
    # Light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: green
      accent: light green
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: green
      accent: light green
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  font:
    text: Roboto
    code: Roboto Mono
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.top
    - navigation.tracking
    - search.suggest
    - search.highlight
    - content.code.copy
    - content.code.annotate
  icon:
    repo: fontawesome/brands/github

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: google
            show_root_heading: true
            show_source: true
            heading_level: 2

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - admonition
  - pymdownx.details
  - attr_list
  - md_in_html
  - tables
  - toc:
      permalink: true

nav:
  - Home: index.md
  - Getting Started:
      - Installation: getting-started/installation.md
      - Quick Start: getting-started/quickstart.md
  - User Guide:
      - Basic Usage: guide/basic-usage.md
      - File I/O: guide/file-io.md
      - Advanced Optimization: guide/advanced.md
      - Memory Reports: guide/memory-reports.md
  - API Reference:
      - Core Functions: api/core.md
      - I/O Functions: api/io.md
  - Performance:
      - Benchmarks: performance/benchmarks.md
  - About:
      - Changelog: about/changelog.md
      - Contributing: about/contributing.md
      - License: about/license.md

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/luiz826/diet-pandas
    - icon: fontawesome/brands/python
      link: https://pypi.org/project/diet-pandas/
  version:
    provider: mike
